services:
  template:
    build: microservice-chassis
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    env_file: ./env/.env
    depends_on:
      db:
        condition: service_healthy
      consul:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - network

  db:
    image: postgres:17-alpine
    container_name: db
    restart: unless-stopped
    env_file: ./env/.env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - db:/var/lib/postgresql/data
    networks:
      - network

  consul:
    image: hashicorp/consul:1.20
    command: [ "agent","-dev","-ui","-client","0.0.0.0", "-log-level","ERROR" ]
    ports:
      - "8500:8500"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8500/v1/status/leader"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - network

volumes:
  db:

networks:
  network:
    driver: bridge