spring:
  application:
    name: gateway
  main:
    allow-bean-definition-overriding: true

  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          routes:
            - id: registration-route
              uri: http://account:8080
              predicates:
                - Path=/api/account/register
              filters:
                - name: CircuitBreaker
                  args:
                    name: accountServiceCB
                    fallbackUri: forward:/fallback/account-unavailable

            - id: account-service
              uri: http://account:8080
              predicates:
                - Path=/api/main/user, /api/main/users, /api/account/update, /api/account/balance, /api/account/password, /api/account/account, /api/account/open-account
              filters:
                - TokenRelay=
                - StripPrefix=2
                - name: CircuitBreaker
                  args:
                    name: accountServiceCB
                    fallbackUri: forward:/fallback/account-unavailable

            - id: cash-service
              uri: http://cash:8080
              predicates:
                - Path=/api/main/cash
              filters:
                - TokenRelay=
                - StripPrefix=2
                - name: CircuitBreaker
                  args:
                    name: cashServiceCB
                    fallbackUri: forward:/fallback/cash-unavailable

            - id: transfer-service
              uri: http://transfer:8080
              predicates:
                - Path=/api/main/transfer, /api/main/self-transfer
              filters:
                - TokenRelay=
                - StripPrefix=2
                - name: CircuitBreaker
                  args:
                    name: transferServiceCB
                    fallbackUri: forward:/fallback/transfer-unavailable

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://keycloak/realms/bank/protocol/openid-connect/certs
      client:
        registration:
          keycloak:
            provider: keycloak
            client-id: gateway
            client-secret: ${KEYCLOAK_GATEWAY_SECRET:g7777777-8888-9999-aaaa-bbbbccccdddd}
            authorization-grant-type: authorization_code
            scope: openid,profile,email
        provider:
          keycloak:
            issuer-uri: http://keycloak/realms/bank