spring:
  application:
    name: gateway
  main:
    allow-bean-definition-overriding: true

  config:
    import: "optional:consul:${CONSUL_HOST:localhost}:8500"
  cloud:
    consul:
      host: ${CONSUL_HOST:localhost}
      port: 8500
      discovery:
        enabled: true
        prefer-ip-address: true
        health-check-path: /actuator/health
        health-check-interval: 10s
        instance-id: ${spring.application.name}:${random.value}
      config:
        enabled: true
        format: yaml
        prefixes: [ config ]
        defaultContext: application
        watch:
          enabled: true
          delay: 1000

    gateway:
      server:
        webflux:
          routes:
            - id: registration-route
              uri: lb://account
              predicates:
                - Path=/api/account/register
              filters:
                - name: CircuitBreaker
                  args:
                    name: accountServiceCB
                    fallbackUri: forward:/fallback/account-unavailable
            - id: account-service
              uri: lb://account
              predicates:
                - Path=/api/main/user, /api/main/users, /api/account/update, /api/account/balance, /api/account/password, /api/account/account, /api/account/open-account
              filters:
                - TokenRelay=
                - StripPrefix=2
                - name: CircuitBreaker
                  args:
                    name: accountServiceCB
                    fallbackUri: forward:/fallback/account-unavailable
            - id: cash-service
              uri: lb://cash
              predicates:
                - Path=/api/main/cash
              filters:
                - TokenRelay=
                - StripPrefix=2
                - name: CircuitBreaker
                  args:
                    name: cashServiceCB
                    fallbackUri: forward:/fallback/cash-unavailable
            - id: transfer-service
              uri: lb://transfer
              predicates:
                - Path=/api/main/transfer, /api/main/self-transfer
              filters:
                - TokenRelay=
                - StripPrefix=2
                - name: CircuitBreaker
                  args:
                    name: transferServiceCB
                    fallbackUri: forward:/fallback/transfer-unavailable

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://${KEYCLOAK_HOST:localhost}:8082/realms/${KEYCLOAK_REALM:bank}/protocol/openid-connect/certs
      client:
        registration:
          keycloak:
            provider: keycloak
            client-id: front-ui
            client-secret: ${KEYCLOAK_GATEWAY_SECRET:g7777777-8888-9999-aaaa-bbbbccccdddd}
            authorization-grant-type: authorization_code
            scope: openid,profile,email
        provider:
          keycloak:
            issuer-uri: http://localhost:8082/realms/bank

server:
  port: 8090