spring:
  application:
    name: front-ui

  config:
    import:
      - "optional:consul:localhost:8500"
      - "optional:classpath:application.yml"

  security:
    oauth2:
      client:
        registration:
          keycloak:
            provider: keycloak
            client-id: front-ui
            client-secret: ${KEYCLOAK_FRONT_UI_SECRET:90bd600c-7781-4435-961e-1f5139265f7c}
            authorization-grant-type: authorization_code
            scope: openid,profile,email
        provider:
          keycloak:
            issuer-uri: http://localhost:8082/realms/bank

server:
  port: ${SPRING_FRONT_UI_PORT:8081}