spring:
  application:
    name: front-ui

  config:
    import:
      - "optional:classpath:application.yml"

  security:
    oauth2:
      client:
        registration:
          keycloak:
            provider: keycloak
            client-id: front-ui
            client-secret: ${KEYCLOAK_FRONT_UI_SECRET:90bd600c-7781-4435-961e-1f5139265f7c}
            authorization-grant-type: authorization_code
            scope: openid,profile,email
        provider:
          keycloak:
            issuer-uri: http://keycloak/realms/bank