spring:
  application:
    name: front-ui

  config:
    import:
      - "optional:consul:localhost:8500"
      - "optional:classpath:application.yml"
  cloud:
    consul:
      host: ${CONSUL_HOST:localhost}
      port: 8500
      discovery:
        prefer-ip-address: true
        health-check-path: /actuator/health
        health-check-interval: 10s
        instance-id: ${spring.application.name}:${random.value}
      config:
        enabled: true
        format: yaml
        prefixes: [ config ]
        defaultContext: application
        watch:
          enabled: true
          delay: 1000

  security:
    oauth2:
      client:
        registration:
          keycloak:
            provider: keycloak
            client-id: front-ui
            client-secret: ${KEYCLOAK_FRONT_UI_SECRET:90bd600c-7781-4435-961e-1f5139265f7c}
            authorization-grant-type: authorization_code
            scope: openid,profile,email
        provider:
          keycloak:
            issuer-uri: http://localhost:8082/realms/bank

server:
  port: ${SPRING_FRONT_UI_PORT:8081}