# keycloak-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
        - name: keycloak
          image: quay.io/keycloak/keycloak:26.0.0

          args:
            - "start"
            - "--import-realm"
            - "--http-enabled=true"
            - "--http-port=8080"
            - "--https-port=-1"
            - "--hostname-strict=false"
            - "--hostname-strict-https=false"
            - "--spi-theme-cache-themes=false"
            - "--spi-theme-cache-templates=false"

          env:
            - name: JAVA_OPTS_APPEND
              value: "-Dkeycloak.import.strategy=OVERWRITE_EXISTING"

            - name: KC_HOSTNAME
              value: ""
            - name: KC_HOSTNAME_STRICT
              value: "false"
            - name: KC_PROXY_HEADERS
              value: "xforwarded"

            - name: KC_DB
              value: "postgres"
            - name: KC_DB_URL
              value: "jdbc:postgresql://keycloak-postgres:5432/keycloak"
            - name: KC_DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: keycloak-secrets
                  key: POSTGRES_USER
            - name: KC_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: keycloak-secrets
                  key: POSTGRES_PASSWORD

            - name: KC_SPI_THEME_CACHE_THEMES
              value: "false"
            - name: KC_SPI_THEME_CACHE_TEMPLATES
              value: "false"
            - name: KC_BOOTSTRAP_ADMIN_USERNAME
              valueFrom:
                configMapKeyRef:
                  name: my-bank-common-config
                  key: KC_BOOTSTRAP_ADMIN_USERNAME
            - name: KC_BOOTSTRAP_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: my-bank-common-secrets
                  key: KC_BOOTSTRAP_ADMIN_PASSWORD
            - name: KC_HEALTH_ENABLED
              value: "true"

          ports:
            - containerPort: 8080
              name: http
          startupProbe:
            httpGet:
              path: /health/live
              port: 9000
            initialDelaySeconds: 60
            failureThreshold: 30
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health/live
              port: 9000
            initialDelaySeconds: 30
            periodSeconds: 30
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /health/ready
              port: 9000
            periodSeconds: 30

          volumeMounts:
            - name: realm-import
              mountPath: /opt/keycloak/data/import
              readOnly: true
            - name: theme-bank
              mountPath: /opt/keycloak/themes/bank-theme
              readOnly: true

          volumes:
            - name: realm-import
              configMap:
                name: keycloak-realm-import
            - name: theme-bank
              configMap:
                name: keycloak-theme-bank
            - name: keycloak-data
              persistentVolumeClaim:
                claimName: keycloak-data
