apiVersion: v1
kind: ConfigMap
metadata:
  name: keycloak-theme
data:
  login.ftl: |-
{{ .Files.Get "login.ftl" | indent 4 }}
  register.ftl: |-
{{ .Files.Get "register.ftl" | indent 4 }}
  style.css: |-
{{ .Files.Get "style.css" | indent 4 }}
  theme.properties: |-
{{ .Files.Get "theme.properties" | indent 4 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: keycloak-import
data:
  realm.json: |-
{{ .Files.Get "realm-export.json" | indent 4 }}